[submodule "z"]
	path = z
	url = https://github.com/rupa/z
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	branch = master
[submodule "vim-profiler"]
	path = vim-profiler
	url = https://github.com/bchretien/vim-profiler
[submodule "zsh/zprezto/modules/fast-syntax-highlighting/fast-syntax-highlighting"]
	path = zsh/zprezto/modules/fast-syntax-highlighting/fast-syntax-highlighting
	url = https://github.com/zdharma/fast-syntax-highlighting
