snippet	remote_pdb
alias	rpdb remote 'from remote'
options	head
	from remote_pdb import RemotePdb; RemotePdb('127.0.0.1', 4444).set_trace()

snippet	pdb
options	head
	import ipdb; ipdb.set_trace()

snippet	ipdb
options	head
	import ipdb; ipdb.set_trace()

snippet jpdb
options	head
	from IPython.core.debugger import set_trace; set_trace()
